!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    / Use title if it's in the page YAML frontmatter
    %title
      = data.page.title || "Mapa de asistencia a las víctimas"
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "/asistencia-a-las-victimas.jpg", :property => "og:image"}
    %meta{:content => "Asistencia a las víctimas", :property => "og:title"}
    %meta{:content => "Asistencia a las víctimas", :property => "og:site_name"}
    %meta{:content => "tool", :property => "og:type"}
    %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu+Condensed", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "all"
  %body
    = yield
    %footer.row
      .three.columns.centered
        #fb-root
        :javascript
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=210112509088807";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        .fb-like{"data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
        %a.twitter-share-button{"data-lang" => "en", :href => "https://twitter.com/share"} Tweet
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    = javascript_include_tag  "all"
    :javascript
      window.jQuery || document.write('<\/script>')
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
